<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.bank.palm.dao.community.mapper.ReplyMapper">

    <resultMap id="BaseResultMap" type="com.life.bank.palm.dao.community.pojo.ReplyPO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="commentId" column="comment_id" jdbcType="INTEGER"/>
            <result property="replierId" column="replier_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="repliedUserId" column="replied_user_id" jdbcType="INTEGER"/>
            <result property="repliedId" column="replied_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comment_id,replier_id,
        content,create_time,update_time,
        is_delete,replied_user_id,replied_id
    </sql>
    <select id="selectOneById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from reply
        where
        id = #{id,jdbcType=NUMERIC}
    </select>
    <insert id="insertSelective" useGeneratedKeys="true">
        insert into reply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="commentId != null">comment_id,</if>
            <if test="replierId != null">replier_id,</if>
            <if test="content != null">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="repliedUserId != null">replied_user_id,</if>
            <if test="repliedId != null">replied_id,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="commentId != null">#{commentId,jdbcType=INTEGER},</if>
            <if test="replierId != null">#{replierId,jdbcType=INTEGER},</if>
            <if test="content != null">#{content,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="isDelete != null">#{isDelete,jdbcType=TINYINT},</if>
            <if test="repliedUserId != null">#{repliedUserId,jdbcType=INTEGER},</if>
            <if test="repliedId != null">#{repliedId,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <delete id="deleteById">
        delete
        from reply
        where id = #{id,jdbcType=NUMERIC}
    </delete>
    <select id="pageSearchReply" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from reply
        where
        comment_id = #{commentId,jdbcType=NUMERIC}
        AND is_delete = #{isDelete,jdbcType=NUMERIC}
    </select>
</mapper>
